@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  li {
    @apply p-4
  }

  button {
    @apply text-white border bg-green-500 border-green-500
    hover:bg-transparent hover:text-black
  }
}

::-webkit-scrollbar{
  width: 1rem;
  background-color: #14213d;
}

::-webkit-scrollbar-thumb{
  background-color: gray;
}